@model IEnumerable<Package>
@{
    ViewData["Title"] = "Index";

}

<h1>Okno główne – lista paczek</h1>

<form method="post" asp-action="Filter" class="form-check">
    <input class="form-check-input" type="checkbox" value="true" id="ShowOpenCheck" name="ShowOpen" checked>
    <label class="form-check-label" for="ShowOpenCheck">
        Pokazuj otwarte
    </label>
    <br />
    <input class="form-check-input" type="checkbox" value="true" id="ShowClosedCheck" name="ShowClosed" checked>
    <label class="form-check-label" for="ShowClosedCheck">
        Pokazuj zamknięte
    </label>
    <br/>
    <button class="btn btn-primary" style="width:150px" type="submit">FIltruj</button>
</form>

@*<div class="form-check">

</div>
*@
<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>Nazwa paczki</th>
            <th>Data utworzenia</th>
            <th>Data zamknięcia</th>
            <th>Czy otwarta?</th>
            <th>Miasto docelowe</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var package in Model)
        {
            <tr>
                <td width="30%">
                    @package.Name
                </td>
                <td width="20%">
                    @package.CreationDateTime
                </td>
                <td width="20%">
                    @package.ClosedDateTime
                </td>
                <td width="5%">
                    @package.Opened
                </td>
                <td width="10%">
                    @package.DestinationCity
                    </td>
                <td width="5%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Package" asp-action="Edit" asp-route-id="@package.PackageId">Edit</a>
                    </div>
                </td>

                <td width="5%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Package" asp-action="Remove" asp-route-id="@package.PackageId">Remove</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<form method="post" asp-action="CreatePackage">
    <input class="form-control" type="text" name="packageName" placeholder="Tu wpisz nazwę nowej paczki" />
    <button class="btn btn-secondary" style="width:150px">
        Dodaj nową paczkę
    </button>
</form>
