@model IEnumerable<Paczki.Models.Package>

@{
    ViewData["Title"] = "Test";
    var routeValueDictonary = new RouteValueDictionary("");
    routeValueDictonary.Add("modelView", Model.ToList());
}

<h1>Test</h1>
@using (Html.BeginForm("Test", "Package", FormMethod.Post))
{
<p>
@*    @Html.ActionLink("POST","Test","Package",routeValueDictonary,new{@class="form-control"})*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PackageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationCity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.PackageId)
                @Html.EditorFor(modelItem => item.PackageId)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.Name)
                    @Html.EditorFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.HiddenFor(modelItem => item.Opened)
                    @Html.EditorFor(modelItem => item.Opened)
            </td>
            <td>
                    @Html.HiddenFor(modelItem => item.CreationDateTime)
                    @Html.EditorFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                    @Html.HiddenFor(modelItem => item.ClosedDateTime)
                    @Html.EditorFor(modelItem => item.ClosedDateTime)
            </td>
            <td>
                    @Html.HiddenFor(modelItem => item.DestinationCity)
                    @Html.EditorFor(modelItem => item.DestinationCity)
            </td>
        </tr>
        }
    </tbody>
</table>
}