@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category";
}

@if (TempData["success"] != null)
{
    <h2>TempData["success"]</h2>
}

<h1>Category Index</h1>
<table class="table table-bordered table-striped" style="width:50%">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    </table>

<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th>Date</th> 
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cat in Model)
        {
            <tr>
                <td width="50%">
                    @cat.Name
                </td>
                <td width="30%">
                    @cat.DisplayOrder
                </td>
                <td width="20%">
                    @cat.CreatedDateTime
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id">Edit</a>
                    </div>
                </td>

                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Remove" asp-route-id="@cat.Id">Remove</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<button  class="btn btn-primary" style="width:150px">Add new category</button>*@
<a asp-asp-controller="Category" asp-action="Create" class="btn btn-secondary" style="width:150px">
    Add new category
</a>
